body {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 0px;
}
.ball img{
    position: absolute;
    width: 64px;
    height: 64px;
}
.paddleL img{
    position: absolute;
    left: 99%;
    width: 24px;
    height: 192px;
}
.paddleR img{
    position: absolute;
    right: 99%;
    width: 24px;
    height: 192px;
}

